<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/administrator/Documents/CordovaLib-2.0.0/lib/ios/bin/DocumentManager/Document_PhoneGap_App/Document_PhoneGap_App.xcodeproj</string>
</dict>
</plist>
